{% extends "base.html" %}

{% block title %}My Post{% endblock %}

{% block content %}
<article class="post">
    <h1>My Blog</h1>

    {% for post in posts %}
        <h2>
        <a href="{{ post.get_absolute_url }}">
            {{ post.title }}
        </a>
        </h2>

        <p class="date">
            Published {{ post.publish }} by {{ post.author }},  &nbsp;&nbsp;&nbsp; ❤️{{ post.likes.count }} likes
        </p>


        {{ post.content|truncatewords:30|linebreaks }}
        </article>
        <div class="create-div">
                <a class="btn" href="/create"><button>+</button></a>
        </div>

    {% endfor %}
    {% include "pagination.html" with paginator=paginator page_obj=posts %}
{% endblock %}
