{% extends "base.html" %}

{% block title %}
    {{ post.title }}
{% endblock %}

{% block content %}
    <h1>{{ post.title }}</h1>

    <p>
        Published {{ post.publish }} by {{ post.author }}
    </p>
    <a href="{% url 'post:share_post' post.id %}">
     <button style="background-color: aqua; padding: 7px 20px;border-radius: 20px; font-weight: bold;">
        share ->
     </button>
    
</a>
    <form method="POST" action="{% url 'post:toggle_like' post.id %}" style="display: flex; gap: 8px;">
    {% csrf_token %}

    <button type="submit">
        {% if user_has_liked %}
            💔 Unlike
        {% else %}
            ❤️ Like
        {% endif %}

        {{ post.likes.count }}
    </button>
</form>

    {{ post.content|linebreaks }}
{% endblock %}
